.form-inline{
	margin-top: 3%;
}

.form-inline input{
	margin-right: 2%;
}

.form-inline button{
	width: 10%;
	height: auto;
	background-color: red;
}

.glyphicon-search{
	width: 10%;
	height: auto;
}


.iniciar_sesion{
    width: 100%;
    margin-top: 2%;
}

.espacio{
	margin: 20% 0%;
}

.letra-blanca{
	color: white;
	font-size: 23px;
	line-height: 20px;
}

.absolute{
	position: absolute !important;
}

