.form-inline{
	margin-top: 3%;
}

.form-inline input{
	margin-right: 2%;
}

.form-inline button{
	width: 10%;
	height: auto;
	background-color: red;
}

.glyphicon-search{
	width: 10%;
	height: auto;
}


.iniciar_sesion{
	width: 100%;
    position: absolute;
    margin-top: 0.6%;
    margin-left: 85%;
}

.espacio{
	margin: 18% 0%;
}

.letra-blanca{
	color: white;
	font-size: 23px;
	line-height: 20px;
}

.absolute{
	position: absolute !important;
}


.primary-btn1{
	background: #f42f2c;
    line-height: 42px;
    padding-left: 0px;
    padding-right: 0px;
    border: solid 1px brown;					
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    position: relative;
}
