.form-inline{
    margin-top: 3%;
}

.form-inline input{
    margin-right: 2%;
}

.form-inline button{
    width: 10%;
    height: auto;
    background-color: red;
}

.glyphicon-search{
    width: 10%;
    height: auto;
}


.iniciar_sesion{
    width: 100%;
    position: absolute;
    margin-top: 0.6%;
  
}

.espacio{
    margin:120px 0px;
}

.letra-blanca{
    color: white;
}

.absolute{
    position: absolute !important;
}


.primary-btn1{
    background: #f42f2c;

    padding-left: 0px;
    padding-right: 0px;
    border: solid 1px brown;                    
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    position: relative;
}

.primary-btn5{
  background: #f42f2c;
    
    border: none;                    
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
   
    text-transform: uppercase;

    transition: all 0.3s ease 0s;
    cursor: pointer;
    
   
}

.primary-btn10{
    background: #f42f2c;
    width: 150px;

    border: solid 1px brown;                    
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    position: relative;
}
#cuit{
    display: none;
}
.iniciar_sesion2{
    width: 100%;
    position: absolute;
    margin-top: 0.6%;
}

.volver a{
 font-size: 17px !important;
}

.auxiliar1{
    width: 100%;
    height: 200px;
}

.derecha {
    width: 5% !important;
    margin-right: 0% !important;
    float: left !important;
}


/*@media screen and (max-width: 1200px ){
    .derecha{
    margin-right: 400px !important;
}*/

@media (max-width: 1000px ){
    .primary-btn1{
   margin-bottom: 10px;
   margin-left: 15px;
   width: 230px !important;
}
}

.espaciado{
    margin: 100%;
    height: 50px;
}

.letraerror{
color: white !important;
font: bold 20px Poppins!important;
text-shadow:-1px -1px  black,   1px -1px black,-1px 1px black;
text-align: center;
}

#mensaje{
    color: red !important;
}
.letra-blanca2{
    color: white;
    font-size: 40px;
}
.letra-blanca11{
    color: white;
    font-size: 25px;
}

.imagenitem{
    width: 7em;
    height: 5em;
    border: solid 3px white;

}

.letra-blanca9{
    
    width: 200px;
    height: auto;
    color: white;
    font-size: 25px;
    text-align: center;
    float: left;
    margin-left: 5%;
    border: solid 3px white;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 15px 15px 15px;    
}

.primary-btn55{
    background: white;
    padding-left: 1px;
    padding-right: 1px;
    width: 180px;
    border: solid 3px ;                    
    color: #f42f3f;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    position: relative;
}
.cajag{
    width: 100%;
     height: auto;
     margin-top: 15em;
}

.caja10{
    width: 100%;
    height: auto;
    margin: 0 auto; 
    float: right;
    margin-top: 3em;
}

.cajaimagen{

    width: 12em;
    height: auto;
     float:left;

}

.imagencomida{
    width: 100%;
    height: 90%;
    padding-top:1.25em;
}

.banner-area1{
    background: url(../img/hero-bg.jpg) center center/cover;
        height: 75em;
}


.cajaparaboton{
    margin: 0 auto;
    width: 12em;
    height: 12em;
    margin-left: 8.3%;
    margin-bottom: 9em;
     float:left;
     text-align: center;

}
.cajaparaboton2{
    margin-top: 12em;
    width: 12em;
    height: 6em;
    color: white;
}

.newbutton
{
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 40px;
  background: #0D6020;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

.newbutton2
{
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 40px;
  background: #f52f2c;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

.newbutton:hover
{
  background: #12832C !important;
}
.newbutton a
{
  display: block;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 40px;
  width: 100%;
}

.newbutton a:hover
{
  color: #01040D !important;
  font-weight: bold;
}


@media (max-width: 1199px ){
    
  .cajag{
      height: 30em;
  }
  .caja10{
      height: 63em;
  }
  .banner-area1{
      height: 93em;
  }
}

@media (max-width: 800px ){
    
    .cajag{
        height:85em;
    }
    .caja10{
        height: 85em;

    }
    .cajaimagen{
         margin-left: 15%;
    }

    .cajaparaboton2{

        margin-left: 15%;
    }
    .banner-area1{
        height: 111em;
    }
}


@media (max-width: 421px ){
    
  .cajag{
      height:168em;
  }
  .caja10{
      height: 168em;
  }
  .banner-area1{
      height:195em;
  }
  .cajaimagen{
       margin-left: 50%;
  }

  .cajaparaboton2{

      margin-left: 50%;
  }
}

.newbutton a:hover
{
  color: #01040D !important;
  font-weight: bold;
}

.cantidadprod{
  width: 50%;
  height: auto;
  color: black;
  text-align: center;
}


.tablapedido {
  border: none;
  width: 90%;
  margin: 0% 5%;
  text-align: center;
}

.cantidadmenu{
  width: 11%
}

.letra-blanca td, .letra-blanca{
  color: white !important;
}

.cosa_rara{
    width: 90%;
    margin: 0% 5%;
    position: absolute;
}

.zindex{
    z-index: 10000;
}

.izq{
    margin-left: -70% !important;
}

.izqletra{
    font-size: 24px !important;
    font-family: "Poppins",sans-serif !important;
}

.imgcarrito{
    width: 4%;
}

.botonescarrito{
    margin-left: 22em;
}

.botonrojo{
    background-color: #f52f2c;
    border: 1px solid black;
    color: white;
}

.botonverde{
    background-color: #41a000;
    border: 1px solid black;
    color: white;
}

.combocomercio{
    display: none;
}

.labels label{
    color: white;
    font-size: 20px;
}

.mensajeerror p{
    width: 50%;
    height: auto;
    color: red;
}

.marginL{
    margin-left: -2%;
}

.fondoverde{
    background-color: #0D6020 !important;
    color: white !important;
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
    border-top: none !important;
    border-bottom: none !important;
}

.acomodar{
    width: 40%;
    height: auto;
    float: left;
    margin: 0% 60% 0% 0%;
    cursor: pointer;
}


.acomodar2{
    width: 40%;
    height: auto;
    float: left;
    margin: 0% 60% 0% 0%;
    text-align: center !important;
    cursor: pointer;
}

.labelraro{
    width: 65%;
}

.acomodarinput{
    width: 40%;
    height: auto;
    float: left;
    margin: 0% 10% 0% 0%;
}

.fecha{
    font-family: none !important;
}

.oferta{
color: #0D6020;
    font: bold 20px Verdana;
}